@import '~@hackthe6ix/vue-ui/styles/mixins';
@import '~@hackthe6ix/vue-ui/styles/variables';
@import '~@hackthe6ix/vue-ui/styles/colors';

@import '@components/Navigation/Navigation.module';

.home-links a {
  margin-right: 1rem;
}

.home {
  min-height: 900px;
  margin: 0;
  background-repeat: no-repeat;
  background-size: 50vw;
  background-position: center left;
  background-image: url('~@assets/02_Home/Background_Photo_Frames.svg');

  /* Left portion */
  &__sponsor-badge {
    display: flex;
    margin: 0 0 16px 0;

    h4 {
      margin-left: 24px;
      color: $grey;
    }
  }

  &__title {
    margin: 0 0 16px 0;
  }

  &__date {
    color: $grey;
    margin: 0 0 24px 0;
  }

  &__inspiration {
    color: $black;
    margin: 0 0 32px 0;

    &--highlight {
      color: $yellow;
    }
  }

  /* Graphics */
  &__streetcar {

  }

  &__person {
    position: absolute;
    right: 500px;
    z-index: 50;
    bottom: 50px;
  }

  &__left-leaf {
    position: absolute;
    left: 0;
    bottom: 100px;
  }

  &__right-leaf {
    position: absolute;
    right: 0;
    bottom: 100px;
  }

  /* Container stuff */
  &__container {
    @include flex(flex-end, flex-start);
    position: relative;
    align-self: stretch;
  }

  &__content {
    font-weight: bold;
    text-align: left;
    margin: 0;
    max-width: 100%;

    &--left {
      float: left;
      max-width: 500px;
      margin-bottom: 256px;
    }

    &--right {
      float: right;
    }
  }
}


@include media(laptop) {
  .home {

    justify-content: center;

    &__streetcar {
      margin: auto;
    }

    &__content {
      &--left {
        width: 100%;
        margin-bottom: 0;
      }
      &--right {
        width: 100%;
      }
    }
  }
}

@include media(phone) {
  .home {
    background-size: 100vw;
  }
}
