@use '~@hackthe6ix/vue-ui/styles/colors';
@use '~@hackthe6ix/vue-ui/styles/fonts';
:global {
  @include fonts.load('~@hackthe6ix/vue-ui/static/');
  @include colors.load;
}

@import '@hackthe6ix/vue-ui/styles/colors';
@import '@hackthe6ix/vue-ui/styles/fonts';
@import '@hackthe6ix/vue-ui/styles/variables';
@import '@hackthe6ix/vue-ui/styles/mixins';

html, body {
  margin: 0;
  padding: 0;
  color: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: $font;
  font-size: 0.95rem;
  @include scroll;
}

a {
  @include transition(color);
  color: $teal;
  &:hover {
    color: $teal;
  }
}
