@import '~@hackthe6ix/vue-ui/styles/mixins';
@import '~@hackthe6ix/vue-ui/styles/variables';
@import '~@hackthe6ix/vue-ui/styles/colors';

.sponsors {
  min-height: 900px;
  margin: 0;

  &__platinum {
    display: flex;
    justify-content: space-between;

    img {
      max-width: 500px;
      width: 50vw;
    }
  }

  &__gold {
    display: flex;
    justify-content: space-between;

    img {
      max-width: 300px;
      width: 50vw;
    }
  }

  &__silver {
    display: flex;
    justify-content: space-between;

    img {
      max-width: 200px;
      width: 50vw;
    }
  }

  &__bronze {
    display: flex;
    justify-content: space-between;

    img {
      max-width: 100px;
      width: 50vw;
    }
  }

  &__box {
    padding: 16px;
  }

  &__leaf {
    position: absolute;
    left: 0;
  }

  /* Container stuff */
  &__container {
    @include flex(none);
    position: relative;
    align-self: stretch;
  }

  &__content {
    font-weight: bold;
    text-align: left;
    margin: 0;
    width: 100%;
  }
}
