@import '~@hackthe6ix/vue-ui/styles/mixins';
@import '~@hackthe6ix/vue-ui/styles/variables';
@import '~@hackthe6ix/vue-ui/styles/colors';

$about-breakpoint: 1210px;

.home-links a {
  margin-right: 1rem;
}

.about {
  min-height: 900px;
  margin: 0;

  &__serious {
    color: $yellow;
  }

  &__attracted {
    color: $grey;
  }

  &__stats {
    display: flex;
    justify-content: space-between;

    img {
      max-width: 50vw;
    }
  }

  /* Container stuff */
  &__container {
    @include flex(none);
    position: relative;
    align-self: stretch;
  }

  &__content {
    font-weight: bold;
    text-align: left;
    margin: 0;
    width: 100%;

    &--left {
      float: left;
      max-width: 550px;
      color: $black;

      h2 {
        margin-top: 0;
        margin-bottom: 24px;
      }
    }

    &--right {
      float: right;
    }
  }
}


@media only screen and (max-width: $about-breakpoint) {
  .about {
    justify-content: center;

    &__video-frame {
      transform: translateX(-50%);
    }

    &__content {
      &--left {
        width: 100%;
        max-width: 100%;
      }
      &--right {
        float: none;
        margin-left: 50%;
      }
    }
  }
}

