@use '~@hackthe6ix/vue-ui/styles/colors';
@use '~@hackthe6ix/vue-ui/styles/fonts';
:global {
  @include fonts.load('~@hackthe6ix/vue-ui/static/');
  @include colors.load;
}

@import '../../node_modules/@hackthe6ix/vue-ui/styles/colors';
@import '../../node_modules/@hackthe6ix/vue-ui/styles/fonts';
@import '../../node_modules/@hackthe6ix/vue-ui/styles/variables';
@import '../../node_modules/@hackthe6ix/vue-ui/styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600&display=swap');

html, body {
  margin: 0;
  padding: 0;
  color: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.95rem;
  @include scroll;
}

a {
  @include transition(color);
  color: $teal;
  &:hover {
    color: $teal;
  }
}
