@use '~@hackthe6ix/vue-ui/styles/colors';
@use '~@hackthe6ix/vue-ui/styles/fonts';
:global {
  @include fonts.load('~@hackthe6ix/vue-ui/static/');
  @include colors.load;
}

@import '../../node_modules/@hackthe6ix/vue-ui/styles/colors';
@import '../../node_modules/@hackthe6ix/vue-ui/styles/fonts';
@import '../../node_modules/@hackthe6ix/vue-ui/styles/variables';
@import '../../node_modules/@hackthe6ix/vue-ui/styles/mixins';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400;600;900&display=swap');

html, body {
  margin: 0;
  padding: 0;
  color: $font;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 0.95rem;
  @include scroll;
}

a {
  @include transition(color);
  color: $teal;
  &:hover {
    color: $teal;
  }
}

h1 {
  line-height: 72px;
  font-weight: 900;
  font-size: 68px;
  letter-spacing: 0.1em;
}

h2 {
  line-height: 48px;
  font-weight: bold;
  font-size: 42px;
  letter-spacing: 0.05em;
}

h3 {
  line-height: 48px;
  font-weight: bold;
  font-size: 26px;
  letter-spacing: 0.05em;
}

h4 {
  line-height: 24px;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 0.05em;
}

p {
  line-height: 24px;
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 0.05em;
}

@include media(phone) {
  h1 {
    font-size: 54px;
  }
  h2 {
    font-size: 36px;
  }
  h3 {
    font-size: 24px;
  }
}
