.prize {
  display: flex;
  align-items: end;

  &__medal {
    z-index: -1;
    position: absolute;
    margin: 5px auto -32px auto;
    max-width: 35vw;
    transform: translateX(calc(min(30px, 3.5vw)));
  }

  &__list {
    max-width: 40vw;
    margin: min(30vw * 170/250, 180px) 5px 5px 5px;
  }

  &__title {
    position: absolute;
    margin: calc(min(192px, 21.7vw))  0 0 calc(max(-200px, 20vw - 48%));
  }
}
