@import '~@hackthe6ix/vue-ui/styles/colors';
@import '~@hackthe6ix/vue-ui/styles/mixins';

.prize {
  display: flex;

  &__medal {
    z-index: -1;
    position: absolute;
    margin: auto auto -32px calc(min(30px, 3.5vw));
    max-width: 40vw;
  }

  &__list {
    max-width: 45vw;
    margin: min(30vw * 200/250, 180px) 2px 2px 2px;
  }

  &__title {
    position: absolute;
    margin: calc(min(192px, 25.3vw))  0 0 calc(max(-200px, 15vw - 50%));
  }

  &__items {
    list-style: none;
    position: absolute;
    margin: calc(max(-195px, -29.5vw))  0 0 calc(min(32px, 3vw));

    li {
      color: $teal;
      margin-bottom: calc(min(6.2vw, 50px));
    }
  }
}

@include media(phone){
  .prize {
    &__items {
      margin: calc(max(-195px, -31vw))  0 0 calc(min(32px, .01vw));
    }
  }
}
