@use '~@hackthe6ix/vue-ui/styles/variables';

.questions {
  margin-top: map-get(variables.$unit, container);
  grid-gap: map-get(variables.$unit, container);
  grid-template-columns: 1fr 1fr;
  display: grid;
}