@import '~@hackthe6ix/vue-ui/styles/mixins';
@import '~@hackthe6ix/vue-ui/styles/variables';
@import '~@hackthe6ix/vue-ui/styles/colors';

.footer {
  background-color: #59cac4;
  min-height: 80px;
  position: relative;
  z-index: 100;

  padding: 16px 0 32px 0;

  a {
    color: $white;

    &:hover {
      color: $yellow;
    }
  }

  p {
    margin: 8px 0 0 0;
    display: inline-block;
  }

  &__label {
    color: $white;
    margin: 0 0 8px 0;
  }

  &__icon {
    color: $white;
  }

  &__text {
    color: $white;
  }

  &__top {
    @include transition(color);
    text-decoration: none;
    margin-left: auto;
    background: none;
    color: $white;
    padding: 15px 0;
    cursor: pointer;
    border: none;

    &:visited {
      color: $white;
    }

    h4 {
      color: $white;
      margin: 0 0 0 8px;

      display: inline-block;
    }
  }

  &__right {
    text-align: right;
  }

  &__container {
    @include flex(column);
  }

  &__content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  &__media {
    @include flex(flex-start, center);
    list-style-type: none;
    padding: 0;
    margin: 2px 0 0;

    &-item {
      @include transition(color);
      cursor: pointer;
      color: #5d5d5d;
      margin-right: 10px;
    }
  }

  &__legal {
    margin-left: auto;

    a {
      margin-left: 24px;
    }
  }
}

@include media(tablet) {
  .footer {

    &__content {
      display: block;
    }

    &__logo {
      @include position(absolute, 60px auto auto);
    }

    &__legal,
    &__text {
      width: 100%;
      text-align: center;
    }

    &__legal {
      margin: auto;
      margin-top: -10px;
      padding-bottom: 20px;
    }
  }
}
