@import '~@hackthe6ix/vue-ui/styles/mixins';
@import '~@hackthe6ix/vue-ui/styles/variables';
@import '~@hackthe6ix/vue-ui/styles/colors';

$whyus-breakpoint: 1250px;

.reasongroup {
  margin-bottom: 128px;
}

@media only screen and (max-width: $whyus-breakpoint) {
  .reason {
    grid-template-columns: repeat(1, 1fr);
  }
}
